$height-market-overview-mid: 130px;
$wdgttl-height: 26px;
$wdgttl-height-dark-theme: 25px;
$height-footer: 0;
$wdgttl-tab-height: 25px;
$price-info-panel-height: 44px;

@import 'extended/widget-variables-extended';
