.ar .tittle-bar-search-btn {
    margin-right: -23px;
    z-index: 2;
}

.ar .appttl-search {
    padding-left: initial;
    padding-right: 24px;
}

.ar .search-popup-position {
    top: 36px;
    left: 534px;
}

.ar .symbol-search-result-popup {
    right: 10px;
}














