<div id="rightPanelContainer" class="full-height">
    <div id="rightPanelWidget" class="widget_new full-height right-panel">
        {{widget-header
        hideWidgetLink=true
        hideSymbol=true
        isIconTabAvailable=true titleTabs=appLayout.layout.rightPanel.content tabAction='renderRightPanelItems'
        }}

        <div id="rpl-standardOutlet" name="rpl-standardOutlet" class="nano has-scrollbar right-panel-height pos-abs"></div>
    </div>
</div>
