<div {{bind-attr class=":cell-container :full-width :full-height :pad-m-l pad-s-r :ellipsis :pad-s-t :border-bottom :text-align-left view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div {{bind-attr class=":symbol-fore-color :ellipsis :font-xxx-l :h-left :pad-s-t view.styleFirstValue" }}>
        <span class="bold font-x-l">
            {{view.firstValue}}
        </span>
    </div>
</div>
