<div {{bind-attr class=":cell-container :full-width :full-height :font-xx-l :pad-m-lr :ellipsis :pad-s-t :border-bottom :text-align-left view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <!--<div {{!bind-attr class=":text-align-center :bold :btn-txt-color :font-x-l :ellipsis :pad-s-lr :alert-status-cell :pad-s-tb view.styleFirstValue" }}>-->
    <div {{bind-attr class=":text-align-center :bold :btn-txt-color :font-x-l :ellipsis :pad-s-lr :alert-status-cell :pad-s-tb view.styleFirstValue" }}>
            {{view.formattedFirstValue}}
    </div>
</div>