<div name="mpl-standardOutlet" class="full-height full-width pos-abs" style="z-index: 0">
    <div class="full-height full-width">{{outlet "standardOutlet"}}</div>
</div>

<div name="mpl-classic" class="full-height full-width pos-abs" style="z-index: -680">
    <div class="full-height full-width">{{outlet "classic"}}</div>
</div>