<form action="onSubmit">
    <div class="right pad-m-l">
        <button type="button" class="btn btn-default btn-small colour-normal bold" {{action 'onCancel'}}>
            Cancel
        </button>
    </div>
    <div class="right">
        <button type="submit" class="btn btn-default btn-small colour-normal bold" {{action 'onSubmit'}}>
            Submit
        </button>
    </div>
    <div class="right pad-l-r" style="width: 120px">
        {{input type="password" class="form-control search-query" maxlength=25 valueBinding=pass}}
        <div class="font-m mgn-s-b mgn-s-t red">{{errorMessage}}</div>
    </div>

</form>