{{#if isLoading}}
    <div class="pos-abs display-table" style="z-index: 1000; top: calc(50% - 30px); left: calc(50% - 30px);">
        <div class="middle display-table-cell v-middle">
            <div class="full-width full-height">
                <div id="floatingCirclesG" style="top: calc(50% - 30px);">
                    <div class="f_circleG" id="frotateG_01"></div>
                    <div class="f_circleG" id="frotateG_02"></div>
                    <div class="f_circleG" id="frotateG_03"></div>
                    <div class="f_circleG" id="frotateG_04"></div>
                    <div class="f_circleG" id="frotateG_05"></div>
                    <div class="f_circleG" id="frotateG_06"></div>
                    <div class="f_circleG" id="frotateG_07"></div>
                    <div class="f_circleG" id="frotateG_08"></div>
                </div>
            </div>
        </div>
    </div>
{{/if}}