<div class="dropdown" {{action 'loadSettingsDropDownList'}}>
    <a class="cursor-pointer hint--bounce hint--bottom hint--rounded" id="appDropdown" data-toggle="dropdown" data-hint="{{app.lang.labels.settings}}">
        <i {{bind-attr class=":glyphicon :glyphicon-cog iconStyle"}}></i>
    </a>
</div>
