<div class="full-width full-height col-xs-12">
    <div class="col-xs-12 widget-outlet">
        <div class="full-height full-width y-scroll" id="custom-workspace-layout">
            {{outlet 'custom-outlet'}}
        </div>
    </div>
</div>
