<div class="col-xs-6 full-height">
    <div class="full-width col-xs-12 widget-outlet">
        {{outlet "w1"}}
    </div>
</div>
<div class="col-xs-6 full-height">
    <div class="full-width col-xs-12 netplus-investor-row-1">
        <div class="full-width widget-outlet">
            {{outlet "w2"}}
        </div>
    </div>
    <div class="full-width col-xs-12 netplus-investor-row-2">
        <div class="full-width widget-outlet">
            {{outlet "w3"}}
        </div>
    </div>
</div>
