<div class="layout-container full-width full-height">
    <div class="layout-col panel-table font-m">
        <span class="{{view.styles}}">
            {{view.cellValue}}
            <br>
        </span>
    </div>
</div>
