<div class="layout-container full-width full-height">
    <div {{bind-attr class=":layout-col :panel-table view.styles"}} cell-id="{{view.columnId}}">
        <span {{bind-attr class=":font-m :bold view.styleFirstValue"}}>
            {{view.formattedFirstValue}}
            <br>
        </span>
    </div>
</div>