<div class="layout-container full-width full-height">
    <div {{bind-attr class=":layout-col-24 :ltr :panel-table :border-top :border-bottom :ellipsis view.styles view.styleBackground" title="view.formattedFirstValue" cell-id="view.columnId"}} style="background-color: {{view.colorCode}}; color: #2f2f2f">
        <span {{bind-attr class=":font-m view.styleFirstValue" }}>
            {{view.formattedFirstValue}}
            <br>
        </span>
    </div>
</div>
