<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Account Summary Details</div>
            <div class="pad-s-tb">The Account Summary displays your Cash details as well as Margin details. The cash details are displayed in terms of holdings, overdrawn limit, margin, blocked amounts, unsettled sales, buying power, etc.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View your Account Summary</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Account Summary</strong></div>
            <div class="pad-s-tb pad-m-l">- The Account summary of your portfolio will be displayed</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Optional</div>
            <div class="pad-s-tb pad-m-l">- Tap the portfolio name to select another portfolio</div>
        </div>

    </div>
</div>

