<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Overview</div>
            <div class="pad-s-tb">This application provides real-time price data, news, and announcements to keep you up-to-date with market activities even when you are on the move.It also helps the customer to perform Trading. Just tap to view the market summary, top stocks, and even detail quotes for any symbol in an exchange.</div>
            <div class="pad-s-tb">You can create personalized watch lists to keep track of your favorite symbols in multiple exchanges. This application also comes with a chart feature that provides a graphical view of a symbol's performance for pre-defined periods, and price analysis features.</div>
            <div class="pad-s-tb"><strong>Note:</strong> You can only view the exchanges to which you have subscribed. If your subscription supports only one exchange, features related to selecting other exchanges will not be available.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Log on</div>
            <div class="pad-s-tb pad-m-l">- Tap the product logo on the mobile Home screen</div>
            <div class="pad-s-tb pad-m-l">- Enter your username and password after loading login page</div>
            <div class="pad-s-tb pad-m-l">- Mark the "Remember Me" checkbox</div>
            <div class="pad-s-tb pad-m-l">- Tap  <strong>Login</strong></div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Logout and return to the Home Screen</div>
            <div class="pad-s-tb pad-m-l">- Tap this icon <img src="assets/images/help/menublack.png"  class="help-icon-small"/> in the Left top corner of the window, and tap <img src="assets/images/help/logout.png"  class="help-icon-small"/></div>
        </div>

    </div>
</div>

