<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Creating and Managing Watch Lists</div>
            <div class="pad-s-tb"><strong>Full Market Watch Lists</strong> can be viewed for enabled Markets.</div>
            <div class="pad-s-tb">In order to keep track of your favourite symbols, you can create a watch list with an unlimited number of symbols. You can add or remove symbols from a watch list as required.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Create a Watch List</div>
            <div class="pad-s-tb pad-m-l">- Tap  <img src="assets/images/help/watchlist.png" class="help-icon-large"/>  at the bottom of the app</div>
            <div class="pad-s-tb pad-m-l">- Tap <strong>Favorites</strong></div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/addsymbol.png" class="help-icon-small"/> to search and add symbols to the watchlist</div>
            <div class="pad-s-tb pad-m-l">- <strong>Note:</strong> Symbols can also be added to the watchlist via <strong> Quote </strong> menu by tapping the <img src="assets/images/help/favorite.png" alt="Star" width="30" height="25" /> icon</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Remove a symbol from Custom Watch List</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/slidearrow.png" class="help-icon-small"/> , near the symbol you wish to remove</div>
            <div class="pad-s-tb pad-m-l">- Then tap <img src="assets/images/help/delete.png" class="help-icon-large"/></div>
        </div>

    </div>
</div>