<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Market Details</div>
            <div class="pad-s-tb">This section gives you information regarding the Markets.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View Market Summary</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/market.png" class="help-icon-large" /> at the bottom of the app</div>
            <div class="pad-s-tb pad-m-l">- You can view the market summary details (Volume, Turnover, Trades, Cash map, Net Cash%, YTD and etc)</div>
            <div class="pad-s-tb pad-m-l">- Scroll down to view the <strong>News and Announcements</strong> of the respective market</div>
            <div class="pad-s-tb pad-m-l">- Landscape view of mobile provides Advanced Chart</div>
        </div>

    </div>
</div>

