<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">About Trading</div>
            <div class="pad-s-tb">You can place orders in real time by specifying the order type and the Time-in-force (TIF) or Good Till details as required. When you enter a symbol, the current bid and offer prices, change and the change percentage appears on the screen. Once you place an order, it appears in the Order List screen.</div>
            <div class="pad-s-tb">The Order List screen displays the orders and their current status. You can also view the details of an order via this screen.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Place a buy/sell order</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small"/> and select <strong>Trade</strong> under Trade Section</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/search01.png" class="help-icon-small"/> to search for the symbol you wish to trade with</div>
            <div class="pad-s-tb pad-m-l">- Enter the order details:</div>
            <div class="pad-s-tb pad-l-l">Enter the price and quantity using the keyboard and tap <strong>Done</strong></div>
            <div class="pad-s-tb pad-l-l">In the <strong>TIF type</strong> drop-down select the applicable TIF Type</div>
            <div class="pad-s-tb pad-l-l">Set the <strong>Order Type (Market / Limit )</strong> slider as applicable</div>
            <div class="pad-s-tb pad-l-l">If you selected <strong>GTD</strong> in the <strong>TIF type </strong>drop-down, tap the date field, select the applicable date from the calendar, and tap Set</div>
            <div class="pad-s-tb pad-l-l">Tap <strong>Buy</strong> or <strong>Sell</strong> accordingly</div>
            <div class="pad-s-tb pad-m-l"><strong>NOTE</strong>: Tap <img src="assets/images/help/order.png" class="help-icon-large"/> to view <strong>Recent Orders</strong></div>
        </div>

    </div>
</div>

