<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Detail Quote</div>
            <div class="pad-s-tb">This section gives the detail quote of a selected symbol/index.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View Detail Quote of Selected Symbol</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Quote</strong></div>
            <div class="pad-s-tb pad-m-l">- Or tap <img src="assets/images/help/quote.png" class="help-icon-large" /></div>
            <div class="pad-s-tb pad-m-l">- Scroll down to view the respective <strong>News and Announcements</strong></div>
            <div class="pad-s-tb pad-m-l">- <strong>Note:</strong> User can tap the <img src="assets/images/help/favorite.png" class="help-icon-small"/> to add the symbol / index to the <strong>Favorites</strong> watchlist</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Below details of the symbol / index can be viewed via Quote</div>
            <div class="pad-s-tb pad-m-l">- Best Bid and Offer</div>
            <div class="pad-s-tb pad-m-l">- Bid and Offer Qty</div>
            <div class="pad-s-tb pad-m-l">- Prev.Closed</div>
            <div class="pad-s-tb pad-m-l">- Open</div>
            <div class="pad-s-tb pad-m-l">- Low and High</div>
            <div class="pad-s-tb pad-m-l">- Volume</div>
            <div class="pad-s-tb pad-m-l">- Trades</div>
            <div class="pad-s-tb pad-m-l">- Turnover</div>
            <div class="pad-s-tb pad-m-l">- Net Cash</div>
            <div class="pad-s-tb pad-m-l">- 52wk High and 52wk Low</div>
            <div class="pad-s-tb pad-m-l">- Min and Max</div>
            <div class="pad-s-tb pad-m-l">- TOP</div>
            <div class="pad-s-tb pad-m-l">- TOV</div>
            <div class="pad-s-tb pad-m-l">- Market Cap</div>
            <div class="pad-s-tb pad-m-l">- Last Traded Time</div>
            <div class="pad-s-tb pad-m-l">- Market</div>
        </div>

    </div>
</div>

