<div class="widget-container-new full-width fore-color">
    <div class="page-container">
        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Price Alerts for Symbols</div>
            <div class="pad-s-tb">Use the Alerts tool to be notified when a symbol meets the conditions defined by you.
                You can select the symbol you want and set the condition by selecting the parameter, criteria and value.
                You can update or delete an alert condition.
            </div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Set an Alert</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small"/> and then select
                <strong>Alerts</strong></div>
            <div class="pad-s-tb pad-m-l"><span> - </span><span>In the <strong>Symbol</strong> field, type the symbol/index code using the keyboard. Select the required symbol/index</span>
            </div>
            <div class="pad-s-tb pad-m-l">- Tap the <strong> Parameter </strong> field and select the parameter</div>
            <div class="pad-s-tb pad-m-l">- Tap the <strong> Criteria </strong> field and choose the criteria for the alert condition
            </div>
            <div class="pad-s-tb pad-m-l">- Tap the <strong> Value </strong> field and enter the value for the condition
            </div>
            <div class="pad-s-tb pad-m-l">- Tap <strong>Add Alert </strong> to create the alert</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Update an Alert</div>
            <div class="pad-s-tb pad-m-l">- In the alert list, tap <img src="assets/images/help/slidearrow.png" class="help-icon-small"/> and then tap <img src="assets/images/help/edit01.png" class="help-icon-large"/></div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Delete an Alert</div>
            <div class="pad-s-tb pad-m-l">- In the alert list, tap <img src="assets/images/help/slidearrow.png" class="help-icon-large"/> and then
                tap <img src="assets/images/help/delete02.png" class="help-icon-small"/></div>
        </div>
    </div>
</div>