<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Portfolio Details</div>
            <div class="pad-s-tb">You can view the symbol wise portfolio summary of yours. Also can be switched to watchlist of particular symbols of portfolio.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View Portfolio Details</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Portfolio</strong></div>
            <div class="pad-s-tb pad-m-l">- Select a portfolio from the drop-down</div>
            <div class="pad-s-tb pad-m-l">- The symbol wise portfolio summary will be displayed</div>
            <div class="pad-s-tb pad-m-l">- Row Click gives a detail view of portfolio for a particular symbol</div>
        </div>

    </div>
</div>

