<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Settings - Customizing the Application</div>
            <div class="pad-s-tb">You can customize the language and theme of the application and your current password.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Change the Language</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Settings</strong></div>
            <div class="pad-s-tb pad-m-l">- Under Language section, tap and select the language</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Change the Theme</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Settings</strong></div>
            <div class="pad-s-tb pad-m-l">- Under <strong>Themes</strong> select the required theme</div>
            <div class="pad-s-tb pad-m-l">- There are two types of themes: <strong>Dark </strong>and <strong>Light</strong></div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Change your Current Password</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Change Password</strong></div>
            <div class="pad-s-tb pad-m-l">- Enter your <strong> Current Password </strong>and<strong> New Password </strong> in the respective fields</div>
            <div class="pad-s-tb pad-m-l">- Confirm your new password in the <strong>Confirm New Password</strong> field</div>
            <div class="pad-s-tb pad-m-l">- Tap <strong>Save</strong></div>
        </div>

    </div>
</div>

