<div class="widget-container-new full-width fore-color">
    <div class="page-container">
        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Top Stocks Information</div>
            <div class="pad-s-tb">You can view Top Stocks information which displays the top gainers, top losers and the symbols with the highest active trades. From the top stocks view, you can tap any symbol and view the detail quote and the chart.</div>
        </div>
        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View Top Stocks Information</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Top Stocks</strong></div>
            <div class="pad-s-tb pad-m-l">- You can view the market depth of the selected symbol</div>
        </div>
        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Below information can be viewed under Top Stocks</div>
            <div class="pad-s-tb pad-m-l">- Top Gainers by Change</div>
            <div class="pad-s-tb pad-m-l">- Top Gainers by % Change</div>
            <div class="pad-s-tb pad-m-l">- Top Losers by change</div>
            <div class="pad-s-tb pad-m-l">- Top Losers by % change</div>
            <div class="pad-s-tb pad-m-l">- Most Active by Trades</div>
        </div>
    </div>
</div>