<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Market Indices Details</div>
            <div class="pad-s-tb">This section gives an overview of the current status of a market (exchange) and its indices.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View Market Indices</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Market Indices</strong></div>
            <div class="pad-s-tb pad-m-l">- <strong>Note</strong>: Tapping an index will direct you to view the <strong>Quote</strong> of the index</div>
        </div>

    </div>
</div>

