<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Order List and Details</div>
            <div class="pad-s-tb">You can view the details of the orders placed using Order List.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View Order List and Details</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Order List</strong></div>
            <div class="pad-s-tb pad-m-l">- Optional: Tap the portfolio name to select another portfolio from the drop-down</div>
            <div class="pad-s-tb pad-m-l">- To view the orders by the order status, tap <strong>Status</strong> drop-down, and select the order status accordingly</div>
            <div class="pad-s-tb pad-m-l">- To view the order details, tab on required row (order)</div>
        </div>

    </div>
</div>

