<div class="widget-container-new full-width fore-color">
    <div class="page-container">

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">Market Depth Details</div>
            <div class="pad-s-tb">This section displays the <strong>Market Depth by Price</strong> of a symbol.</div>
        </div>

        <div class="layout-container pad-l-tb h-left pad-widget-left pad-widget-right">
            <div class="font-xx-l bold pad-m-tb">View Market Depth</div>
            <div class="pad-s-tb pad-m-l">- Tap <img src="assets/images/help/menublack.png" class="help-icon-small" /> and select <strong>Market Depth</strong></div>
            <div class="pad-s-tb pad-m-l">- You can view the market depth of the selected symbol</div>
        </div>

    </div>
</div>

