<div>
        <div style="width:1200px; height:500px;">
            {{table-component
            columns=columns
            content=arrangedContent
            rowHeight= rowHeight
            hasFooter=false
            minHeaderHeight= headerHeight
            }}
        </div>
</div>