<div class="full-width full-height widget_new border-none overflow-visible">
    <div id="{{wkey}}" class="full-width full-height">
        {{widget-header
        widgetTitle=app.lang.labels.marketWatch
        hideSymbol=true
        hideWidgetLink=true
        app=app
        }}
    </div>
</div>