{{ outlet "w3"}}
<div class="page-container">
    <div class="pad-widget-left pad-widget-right {{containerPaddingCss}}">
        {{ outlet "w1"}}
    </div>
    <div>
        {{ outlet "w2"}}
    </div>
    <div class="layout-col row-height-header container-back-color"></div>
</div>