<div class="full-width pad-s-t pad-widget-left pad-widget-right widget-hline overflow-hidden">
    <div class="navbar-nav-chart ltr" id={{chartId}} ><span class="mgn-l-t" id="chart" class="index-chart-position"></span></div>
    <div class="full-width"></div>
</div>
