<div class="dropdown-menu more-column-align display-block" role="menu">
    {{column-context-menu
    columns=defaultColumnDeclarations
    app=app
    saveAction='changeColumns'
    cancelAction='cancelMoreColumns'}}
</div>
