<div {{action 'buttonAction' view.content view.rowValues}} {{bind-attr title="view.title" class=":panel-table view.firstValueStyle view.displayStyle"}} >
    <span {{bind-attr class="view.buttonStyle"}}>
        <i {{bind-attr class="view.iconClass"}}> </i>
    </span>
</div>