<div class="panel-table fade-fore-color" {{action 'buttonMenuAction' null null view.content}} {{bind-attr title="view.title" }}>
    <i {{bind-attr class=":top-zero view.iconClass"}} id="appDropdown" data-toggle="dropdown" ></i>
    <div  button-key="{{view.rowValues.sym}}"></div>
</div>
