<div class="layout-container full-width full-height">
    <div class="layout-col-24 ltr panel-table font-l">
        <span class="{{view.styles}}">
            {{view.cellValue}}
            <br>
        </span>
    </div>
</div>
