<div {{bind-attr class=":panel-table :watch-list-default-cell view.styles" }}>
            <span {{bind-attr class=":font-xxx-l :bold view.styleFirstValue" }}>
                {{view.formattedFirstValue}}
</span>
</div>