<div class="panel-table">
    <div {{bind-attr class=":font-m :h-middle :bold :watch-list-progress-cell view.styleFirstValue"}}> {{view.showValue}} </div>
    <div class="progress watch-list-progress-bar down-back-color">
        <div class="progress-bar up-back-color" style={{{view.styles}}}> </div>
    </div>
</div>