<div class="panel-table">
    <div class="pad-xs-t">
        <div {{bind-attr class="view.progressDotStyle"}} style={{{view.styles}}}> </div>
    </div>
    <div class="progress-border watch-list-dot-cell"></div>
    <div class="font-l bold h-middle">
    <span class="left" >
        {{view.formattedFirstValue}}
    </span>
    <span class="clr-both" >
        -
    </span>
     <span class="right">
         {{view.formattedSecondValue}}
     </span>
    </div>
</div>