<div class="layout-container full-width full-height">
    <div class="layout-col ltr ellipsis">
        {{#if view.firstValueStyle}}
            <div class="layout-col {{view.firstValueStyle}} flag-cell-border"></div>
        {{/if}}
    </div>
</div>
