<button {{action 'buttonAction' view.content view.rowValues}} {{bind-attr title="view.title" class=":btn :btn-default view.styleFirstValue view.displayStyle"}} >
    <i {{bind-attr class="view.iconClass"}}></i> {{view.title}}
</button>
