<div class="layout-container full-width full-height pad-s-r">
    <div {{bind-attr class=":layout-col-12" }} {{bind-attr cell-id="view.columnId" }}>
        {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color input-font-size h-right"
             decimalPlaces=2
             maxlength=10
             numValue=view.currentValue
        }}
    </div>
</div>