<div class="panel-table watch-list-progress-cell">
    <div class="font-l h-middle pad-s-b"> {{view.showValue}} </div>
    <div class="progress watch-list-progress-bar down-back-color">
        <div class="progress-bar up-back-color" style={{{view.styles}}}> </div>
    </div>
</div>