.ar .announcement-vertical-seperator {
  height: 100%;

  @include theme((
          border-right: "2px {announcements-icon-color} solid",
          border-left: "0 {announcements-icon-color} solid"
  ));
}

.ar .news-vertical-seperator {
  height: 100%;

  @include theme((
          border-right: "2px {news-icon-color} solid",
          border-left: "0 {news-icon-color} solid"
  ));
}