.ar .cancel-btn {
  padding-right: 30px;
  padding-left: 25px;
  left: 0;
  right: initial;
}

.ar .search-icon {
  padding-right: 16px;
}

.ar .search-bar {
  padding-right: 30px;
  padding-left: 0;
}