@import '../../../common-variables';
@import '../../../widget-variables';

.ar .wdgttl-btn-dropdown {
    padding: 4px 0 4px 4px;
}

.ar .wdgttl-search {
    padding-left: 10px;
    padding-right: 18px;
}