<div id="loginPopup" class="layout-container full-width full-height overlay-body">
    <div class="layout-container full-width full-height ">
        <div class="layout-col container-back-color pad-l-t login-popup-container">
            <iframe id="loginPopupContainer" class="full-width login-quick-link-popup " src={{link}}></iframe>
            <button class="btn btn-default display-block login-back-btn" {{action 'onBackToLogin'}}>{{app.lang.labels.backToLogin}}</button>
        </div>
    </div>
</div>