<div {{bind-attr class=":layout-container :full-width :full-height :v-middle :pad-m-lr :ellipsis :border-bottom :text-align-left view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div {{bind-attr class=":layout-col :symbol-fore-color :ellipsis :font-l :bold :h-left :pad-s-t view.styleFirstValue" }}>
        {{view.firstValue}}
    </div>
</div>
