<div {{bind-attr class=":cell-container :full-width :full-height :font-m :pad-m-lr :ellipsis :pad-m-t :border-bottom :text-align-left view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div {{bind-attr class=":text-align-center :font-m :ellipsis :pad-s-lr :alert-status-cell :pad-s-tb view.styleFirstValue" }}>
            {{view.formattedFirstValue}}
    </div>
</div>