<div class="layout-container full-width appttl-height font-m dark-bg-fore-color highlight-back-color-2">
    <div class="layout-col">
        <div class="layout-inline font-x-l pad-m-l">
            <i class="fa fa-info news-icon-color"></i>
        </div>
        <div class="layout-inline pad-m-l">
            <div class="layout-inline">{{annObj.dispProp1}}</div>
            <m class="layout-inline pad-m-l bold dark-bg-fore-color ellipsis news-announcement-width">{{annObj.dHed}}</m>
        </div>
    </div>
</div>
